* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 100%;
    border: 1px solid black;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-top: 10px;
    padding-left: 5px;
    background-color: rgb(241, 224, 239);
    max-height: 530px;
    overflow-y: scroll;
    
}

.inline-block {
    display: inline-block;
    width: 100%;
    padding-right: 60px;
}

.block {
    display: inline-block;
    width: 235px;
    background-color: #dabd92;
    border-radius: 30px;
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 2px #504e4e inset;
}